* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #00205B;
}

h1 {
    text-transform: capitalize;
}

main {
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

ul>li {
    margin: 1.5rem auto;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAVElEQVQ4ja3MRxEAMAgAMKTgC/866K/XwYYICEAXEgMSzySt6EzK0ZuUIilJR1qSiqwkHHlJKIokbhRNzCiTqFE2EaNK8kXV5Io6yY66CRLPJJPRAvfvFahwmFOxAAAAAElFTkSuQmCC);
    position: relative;
    padding-left: 2rem;
    background-size: 1rem;
    background-position: ;
    background-position-y: .4rem;
    background-repeat: no-repeat;
}

ul ul {
    list-style-type: circle;
}

ul li ul li {
    background-image: none;
    padding-left: 0px;
}

.slide {
    height: 90%;
    width: 100%;
    position: absolute;
    background: #fff;
    opacity: 0;
    font-size: 2.5rem;
    padding: 1vh 5vw;
    transition: all .5s ease-in;
}

#tagline {
  position: absolute;
  bottom: 3vh;
  left: 2vw;
  font-style: italic;
  color: #00205B;
}

#footer {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 100;
  right: 0;
}

.visible {
    opacity: 1;
}
